/*
Dark Purple, #242038
Orange, #D5573B
Soft Purple, #777DA7
Teal Green, #23967F
Off-White, #F7ECE1
*/

* {
  box-sizing: border-box;
  background-color: #242038;
}

button {
  outline: none;
}

button:active {
  border-style: outset;
}

.header, .main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1vh;
}

h1, p {
  color: #23967F;
}

.header h1 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: .5vh;
}

.header p {
  font-size: 24px;
  margin: 0;
}

.game {
  display: flex;
}

.player, .cpu {
  border-color: black;
  border-style: solid;
  margin: 3vw;
  background-color: #777DA7;
}

.game img {
  height: 35vw;
  width: 35vw;
  padding: 5vw;
  background-color: #777DA7;
}

.player img {
  transform: rotate(90deg);
}

.cpu img {
  transform: scaleX(-1) rotate(90deg);
}

/* Moves hand up 3 times and down 2 times to simulate the beginning of
   traditional rock paper scissors. */
@keyframes moveUpDown {
  0%, 100% {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
  }
  17%, 51%, 85% {
    padding-left: 0;
    padding-right: 7vw;
  }
  34%, 68% {
    padding-left: 7vw;
    padding-right: 0;
  }
}

.selection {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.selection button {
  background-color: #F7ECE1;
  border-color: #F7ECE1;
}

.selection img {
  width: 10vw;
  height: 10vw;
  background-color: #F7ECE1;
}

.info p {
  font-size: 24px;
}