/*
Dark Purple, #242038
Orange, #D5573B
Soft Purple, #777DA7
Teal Green, #23967F
Off-White, #F7ECE1
*/

* {
  box-sizing: border-box;
  background-color: #242038;
}

.header, .main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 12px;
}

.header h1, .header p{
  color: #23967F;
}

.header h1 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 4px;
}

.header p {
  font-size: 24px;
  margin: 0;
}

.game {
  display: flex;
}

.player, .cpu {
  border-color: black;
  border-style: solid;
  margin: 26px;
  background-color: #777DA7;
}

.game img {
  height: 500px;
  width: 500px;
  padding: 50px;
  background-color: #777DA7;
}

.player img {
  transform: rotate(90deg);
}

.cpu img {
  transform: scaleY(-1);
  transform: rotate(270deg);
}

.selection {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.selection button {
  background-color: #F7ECE1;
  border-color: #F7ECE1;
}

.selection img {
  width: 125px;
  height: 125px;
  background-color: #F7ECE1;
}
